{% extends "nostr/base.html" %}
{% block title %}
Brand Form
{% endblock %}

{% block content %}
        
      <div class="container">
        <div class="row my-2">
            <div class="col-sm-12">
                <h3>Create a Badge Definitions</h3>
                <p>In order to issue a badge, you must create a badge definition.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="my-4">
                    <div class="mb-3">
                        <label class="form-label">Issuer Brand</label>
    
                        <select name="brand" class="form-select" required>
                            <option value="" selected>Select brand</option>
                            {% for brand in brands %}
                            <option value="{{brand.id}}">{{brand.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {{ form }}
                </table>

                <input class="btn btn-outline-primary" type="submit" onclick="window.location='{% url 'index' %}' ; return false;" value="Back">
                <input class="btn btn-primary" type="submit" value="Submit">

                </form>
            </div>
        </div>
    </div>

{% endblock %}